<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{LABEL}}</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{PYTHON}}</string>
		<string>{{ROOT}}/bin/subpool</string>
		<string>guard</string>
	</array>
	<key>WorkingDirectory</key>
	<string>{{ROOT}}</string>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>{{ROOT}}/logs/guard.launchd.log</string>
	<key>StandardErrorPath</key>
	<string>{{ROOT}}/logs/guard.launchd.log</string>
</dict>
</plist>
